src/main/mule/indigo-flights-sys-Implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="GETMySQLFlights" doc:id="d6c79bb8-4432-4a1e-b0e0-ec3347217d91" >
		<logger level="INFO" doc:name="Begin Logger" doc:id="2e073992-e297-486b-b366-b2ff1a23fee2" message="Reteriving flights begin...."/>
		<db:select doc:name="Select" doc:id="35c52e90-7726-498e-ab51-767c8280c34b" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from IndigoFlights Where 
(origin=:origin OR ""=:origin) and 
(destination=:destination OR ""=:destination) and 
(departureDate = :date OR "1990-01-01"=:date)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	'origin': attributes.queryParams.origin default "",
	'destination' : attributes.queryParams.destination default "",
	'date' : attributes.queryParams.date default "1990-01-01"
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="63584728-8b70-4f50-a8a2-5b1653c842e1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID as String default 0,
	code: payload01.code default "",
	origin: payload01.origin default "",
	destination: payload01.destination default "",
	departureDate: payload01.departureDate default "",
	price: payload01.price default 0, 
	planeType: payload01.planeType default ""	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Logger" doc:id="eeca14ea-6872-414d-880f-b7fcc81bfdb9" message="Reteriving Flights End"/>
	</flow>
	<flow name="GetFlightsByID" doc:id="befcd769-107c-416e-8dbc-0bb44bf895a4" >
		<logger level="INFO" doc:name="Logger" doc:id="88bdc549-1627-417c-a629-842f5b6a8465" message="Begin reterieval of specific flight..."/>
		<db:select doc:name="Select" doc:id="e526ce63-0921-4d4b-a8f1-9dd41e8df1ee" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from IndigoFlights where ID=:uriId]]></db:sql>
			<db:input-parameters ><![CDATA[#[{	
	'uriId':attributes.uriParams.ID
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="449aaf01-42be-4d0b-a7f2-44dec88de869" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0f3b65e9-201a-4c69-be37-dc399e9e990b" message="Begin reterieval of specific flight..."/>
	</flow>
</mule>
